<mat-card class="title">
  <mat-card-title>Welcome</mat-card-title>
  <mat-card-subtitle>Reef Moonshiner's</mat-card-subtitle>
  <mat-card-content>More then just suppliments</mat-card-content>
</mat-card>

<div class="landing-image text-center">
  <img src=".././assets/home_image.png" mat-card-image class="rounded">
</div>



  <!-- <nav>
    <a routerLink="/signup">Sign Up</a>
    <a routerLink="/signin">Sign In</a>
    <a routerLink="/graphs">Graphs</a>
  </nav> -->

  <router-outlet></router-outlet>
