<div class="title">
  <h1 *ngIf="!isSmallViewport && !isMediumViewport" class="mat-display-3">Welcome To</h1>
  <h1 *ngIf="isMediumViewport" class="mat-display-1">Welcome To</h1>
  <h1 *ngIf="isSmallViewport" class="mat-title">Welcome To</h1>

  <h1 *ngIf="!isSmallViewport && !isMediumViewport" class="mat-display-4">Coral Connect</h1>
  <h1 *ngIf="isMediumViewport" class="mat-display-2">Coral Connect</h1>
  <h1 *ngIf="isSmallViewport" class="mat-display-1">Coral Connect</h1>

  <p *ngIf="!isSmallViewport && !isMediumViewport" class="mat-display-1">Your hub for reef exploration</p>
  <p *ngIf="isMediumViewport" class="mat-title">Your hub for reef exploration</p>
  <p *ngIf="isSmallViewport" class="mat-subheading-1">Your hub for reef exploration</p>
</div>


<div class="landing-image text-center">
  <img src=".././assets/home_image.png" mat-card-image class="rounded">
</div>
<div class="mt-10">

</div>

 <app-big-four></app-big-four>

<div class="mt-10">
  <mat-divider></mat-divider>
</div>

  <app-major-elems></app-major-elems>

<div class="mt-10">
  <mat-divider></mat-divider>
</div>

<app-minor-elems-one></app-minor-elems-one>

<div class="mt-10">
  <mat-divider></mat-divider>
</div>

<app-minor-elems-two></app-minor-elems-two>

<div class="mt-10">
  <mat-divider></mat-divider>
</div>

<div class="mt-10">
  <app-minor-elems-three></app-minor-elems-three>
</div>

<div class="mt-10">
  <mat-divider></mat-divider>
</div>
 -->

    <!-- <nav>
    <a routerLink="/signup">Sign Up</a>
    <a routerLink="/signin">Sign In</a>
    <a routerLink="/graphs">Graphs</a>
  </nav> -->

  <!-- <router-outlet></router-outlet> -->
