div{
  color: whitesmoke;
  // h1{

  // }
}

.title{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}

// h1,h2 {
//   text-size-adjust:8em;
// }

.landing-image {
  display: flex;
  justify-content: center ;
  padding-top: 2em;

}
