<mat-card-title class="minorothree-head">Minor Elements M-Z</mat-card-title>
<div class="card-container">
  <div class="content">
    <div fxLayout="row wrap" >

      <!-- ========== Rubidium  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/MgCl.png" alt="">
          </div>
            <mat-card-title>Rubidium</mat-card-title>
        </div>

        <mat-card-subtitle>{{rubidiumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Rubidium'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Rubidium in ppm" [(ngModel)]="rubidium">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddRubidium(); sendRubidiumMeasurement(rubidium)">Submit</button>
        </mat-card-actions>
      </mat-card>


      <!-- ==========  Selenium ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="">
          </div>
            <mat-card-title>Selenium</mat-card-title>
        </div>

        <mat-card-subtitle>{{seleniumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Selenium'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Selenium in ppm" [(ngModel)]="selenium">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddSelenium(); sendSeleniumMeasurement(selenium)">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="content">
    <div fxLayout="row wrap" >

      <!-- ==========  Tin ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/CaCl.png" alt="">
          </div>
            <mat-card-title>Tin/Stannum</mat-card-title>
        </div>

        <mat-card-subtitle>{{tinStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Tin'">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <mat-label>Tin/Stannum in ppm</mat-label>
            <input matInput placeholder="Tin/Stannum in ppm" [(ngModel)]="tin">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddTin(); sendTinMeasurement(tin)">Submit</button>
        </mat-card-actions>
      </mat-card>


      <!-- ========== Zinc  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/MgCl.png" alt="">
          </div>
            <mat-card-title>Zinc</mat-card-title>
        </div>

        <mat-card-subtitle>{{zincStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Zinc'">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <mat-label>Zinc in ppm</mat-label>
            <input matInput placeholder="Zinc in ppm" [(ngModel)]="zinc">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddZinc(); sendZincMeasurement(zinc)">Submit</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>

<!-- COOL GPT IDEA
<div class="body">
  <div class="content-section">
    <h2 class="content-section-title">Major Elements</h2>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
      <ng-container *ngFor="let element of elements">
        <mat-card class="app-card">
          <div class="element-info">
            <div class="chemImg">
              <img [src]="element.imagePath" [alt]="element.name" />
            </div>
            {{ element.name }}
            <button
              mat-icon-button
              class="options-btn"
              (click)="selectedElement = element.name"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-card-subtitle>{{ element.start }}</mat-card-subtitle>
          <mat-card-actions>
            <mat-form-field appearance="outline">
              <mat-label>{{ element.name }} in ppm</mat-label>
              <input matInput [(ngModel)]="element.value" />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="onAddElement(element.name)"
            >
              Submit
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div> -->
