
<div *ngIf="currentUser" >
  <div class="flex justify-end">
    <button class="mr-6" mat-raised-button color="primary" routerLink="/measurements">Correct/Delete Measurements</button>
  </div>


  <app-charts-big-four> </app-charts-big-four>
  <mat-divider></mat-divider>
  <app-charts-major-elems></app-charts-major-elems>
  <mat-divider></mat-divider>
  <app-charts-minor-elems-one></app-charts-minor-elems-one>
  <mat-divider></mat-divider>
  <app-charts-minor-elems-two></app-charts-minor-elems-two>
  <mat-divider></mat-divider>
  <app-charts-minor-elems-three></app-charts-minor-elems-three>
  <mat-divider></mat-divider>
  <app-test [config]="yourChartConfig"></app-test>
  <div class="flex justify-end">
    <button class="mr-6" mat-raised-button color="primary" routerLink="/measurements">Correct/Delete Measurements</button>
  </div>
  <mat-divider></mat-divider>

</div>

<!-- <div *ngIf="!currentUser" class="h-screen w-screen flex flex-col justify-center items-center">
  <h2>Graphs available to Registered Users</h2>

    <button mat-raised-button color="primary" class="bg-blue-500 hover:bg-blue-700 text-white font-bold  rounded-full " routerLink="/login" >Login</button>
    <div class="mt-4">
      <button mat-raised-button color="primary" class="bg-blue-500 hover:bg-blue-700 text-white font-bold  rounded-full" routerLink="/signup">Sign Up</button>
    </div>
    <div class="mt-4">
    <h2 >Please Login or Signup!</h2>
  </div>
</div> -->
<!-- <a mat-menu-item routerLink="/login" *ngIf="!currentUser">Login</a>
        <a mat-menu-item (click)="logout()" *ngIf="currentUser">Log Out</a> -->
