<div class="text-center mt-20">
  <mat-card-title >Minor Elements I-N </mat-card-title>
</div>


<div class="chart-container mt-6 mx-4">
  <canvas

      baseChart class="chart"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
  >
  </canvas>
</div>

<div class="button-row flex justify-center items-center mb-6">
  <button mat-button mat-raised-button color="primary" (click)="hideOne()" class="mt-4 mx-2">Toggle Li</button>
</div>
