<mat-card class="mt-5 method-container">
  <mat-card-content class="method-margin">

    <h1 class="mat-display-1 text-light text-center ">Reef Moonshiner Method</h1>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/bottle_05.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          In a few words, the Moonshiner method is a smart and very easy way to
          manage the entire Reef Chemistry on a Reeftank in the most effective
          way that will allow the Reefkeeper to grow nearly any coral since
          there will be no limitations anymore that would avoid keeping the most
          difficult Corals when it comes to the required chemistry of the water.
        </h2>
      </div>
    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          Basically,all important Trace elements, major and minor are
          individually measured, adjusted and maintained above natural seawater
          levels. So,there will be no room for questioning if anything may be
          depleted or missing that may lead to poor coloration or insufficient
          growth.
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_02.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_03.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          The adjustment and corrections on depleted elements are performed
          after an ICP test. Also a few Elements are supplemented daily, to take
          advantage of the daily need of certain elements that usually deplete
          within a day or two after dosing or water change.
        </h2>
      </div>
    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          The beauty is that there will be no overdosing possible of any
          element, since each element is monitored and supplemented individually
          via a calculation tool that makes the determination how much solution
          and for how many days it will need to be dosedto achieve the desired
          level.
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_16.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_18.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          As soon the monthly or bimonthly corrections are performed, there is
          no worry about the chemistry for quite a while, and there is no real
          need for struggle with Test kits that may or may not correctly
          indicate Iodine, Potassium, Strontium etc. besides the fact that many
          minor elements not very significantly change between testing, hence no
          need for struggle and reading coloring charts not to mention the cost
          to maintain and keep the test kits.
        </h2>
      </div>
    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          No limitation on Livestock such as the most sensitive SPS species
          after the corrections, that require high level maintenance normally.
          This method brings the tank to highest level standards, without having
          a Master’s degree in Chemistry or Biology!
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_23.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>

    </div>

    <div class="flex flex-row items-center flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/product_28.png"
          alt="Your Image Description"
          class="mx-auto rounded-lg"
        />
      </div>
      <div class="w-full md:w-1/2 mt-4">
        <h2 class="text-center">
          Results and improvements can take from a few days usually until full
          effect that normally is seen after the first few months. Also,there is
          potential to waive water changes, which many users do not perform
          anymore after applying this method.
        </h2>
      </div>
    </div>

  </mat-card-content>
</mat-card>
