.method-container {
  background: rgb(87, 39, 120);
  background: linear-gradient(
    105deg,
    rgb(69, 67, 187) 14%,
    rgb(0, 153, 177) 39%,
    rgb(76, 0, 163) 52%
  );
}

h2 {
  color: white;
}
h1 {
  color: white;
}
