
<mat-card-title class="minorone-head">Minor Elements A-I</mat-card-title>

<div class="card-container">
  <div class="content">
    <div fxLayout="row wrap" >

      <!-- ========== Barium  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="">
          </div>
            <mat-card-title>Barium</mat-card-title>
        </div>

        <mat-card-subtitle>{{bariumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Barium'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Barium in ppm" [(ngModel)]="barium">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddBarium()">Submit</button>
        </mat-card-actions>
      </mat-card>

      <!-- ========== Chromium  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/sodium bicarb.png" alt="">
          </div>
            <mat-card-title>Chromium</mat-card-title>
        </div>

        <mat-card-subtitle>{{chromiumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Chromium'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Chromium in ppm" [(ngModel)]="chromium">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddChromium()">Submit</button>
        </mat-card-actions>
      </mat-card>


    <!-- ========== Cobalt  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img  src="../../../assets/CaCl.png" alt="">
          </div>
            <mat-card-title>Cobalt</mat-card-title>
        </div>

        <mat-card-subtitle>{{cobaltStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Cobalt'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Cobalt in ppm" [(ngModel)]="cobalt">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddCobalt()">Submit</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

  <div class="content">
    <div fxLayout="row wrap" >

  <!-- ========== Copper  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/MgCl.png" alt="">
          </div>
            <mat-card-title>Copper</mat-card-title>
        </div>

        <mat-card-subtitle>{{copperStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Copper'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Copper in ppm" [(ngModel)]="copper">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddCopper()">Submit</button>
        </mat-card-actions>
      </mat-card>

        <!-- ========== fluoride  ============-->

        <mat-card class="mat-elevation-z4 card-margin">
          <div class="mat-card-header">
            <div class="chemImg">
              <img src="../../../assets/SoCl.png" alt="">
            </div>
              <mat-card-title>Fluoride</mat-card-title>
          </div>

          <mat-card-subtitle>{{ fluorideStart }}</mat-card-subtitle>
          <mat-card-content>
            <div (click)="selectedElement = 'Fluoride'" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>
            <mat-form-field class="app-card-buttons" appearance="fill">
              <input matInput placeholder="Fluoride in ppm" [(ngModel)]="fluoride">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onAddFluoride()">Submit</button>
          </mat-card-actions>
        </mat-card>



        <!-- ========== Iodine  ============-->
        <mat-card class="mat-elevation-z4 card-margin">
          <div class="mat-card-header">
            <div class="chemImg">
              <img src="../../../assets/sodium bicarb.png" alt="">
            </div>
              <mat-card-title>Iodine</mat-card-title>
          </div>

          <mat-card-subtitle>{{iodineStart}}</mat-card-subtitle>
          <mat-card-content>
            <div (click)="selectedElement = 'Iodine'" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>
            <mat-form-field class="app-card-buttons" appearance="fill">
              <input matInput placeholder="Iodine in ppm" [(ngModel)]="iodine">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onAddIodine()">Submit</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>

    <!-- Modal -->
    <!-- <ng-template #exampleModal let-dialogRef="dialogRef">
      <mat-dialog-content>
        <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Close</button>
      </mat-dialog-actions>
    </ng-template> -->
