<mat-card-title class="minortwo-head">Minor Elements I-N</mat-card-title>
<div class="card-container">
  <div class="content">
    <div fxLayout="row wrap" >

      <!-- ==========  Iron ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/CaCl.png" alt="">
          </div>
          <mat-card-title>Iron</mat-card-title>
        </div>

        <mat-card-subtitle>{{ironStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Iron'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons">
            <input matInput placeholder="Iron in ppm" [(ngModel)]="iron">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddIron(); sendIronMeasurement(iron)">Submit</button>
        </mat-card-actions>
      </mat-card>

      <!--COOL INPUT BOX ========== Lithium  ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/MgCl.png" alt="">
          </div>
          <mat-card-title>Lithium</mat-card-title>
        </div>

        <mat-card-subtitle>{{lithiumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Lithium'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Lithium in ppm" [(ngModel)]="lithium">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddLithium(); sendLithiumMeasurement(lithium)">Submit</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>

<div class="card-container">
  <div class="content">
    <div fxLayout="row wrap" >

      <!-- ========== Manganese ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="">
          </div>
          <mat-card-title>Manganese</mat-card-title>
        </div>

        <mat-card-subtitle>{{manganeseStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'manganese'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Manganese in ppm" [(ngModel)]="manganese">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddManganese(); sendManganeseMeasurement(manganese)">Submit</button>
        </mat-card-actions>
      </mat-card>

      <!-- ========== Molybdenum ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/sodium bicarb.png" alt="">
          </div>
          <mat-card-title>Molybdenum</mat-card-title>
        </div>

        <mat-card-subtitle>{{molybdenumStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Molybdenum'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Molybdenum in ppm" [(ngModel)]="molybdenum">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddMolybdenum(); sendMolybdenumMeasurement(molybdenum)">Submit</button>
        </mat-card-actions>
      </mat-card>

  <!-- ========== Nickel ============-->

      <mat-card class="mat-elevation-z4 card-margin">
        <div class="mat-card-header">
          <div class="chemImg">
            <img src="../../../assets/CaCl.png" alt="">
          </div>
          <mat-card-title>Nickel</mat-card-title>
        </div>

        <mat-card-subtitle>{{nickelStart}}</mat-card-subtitle>
        <mat-card-content>
          <div (click)="selectedElement = 'Nickle'" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
          <mat-form-field class="app-card-buttons" appearance="fill">
            <input matInput placeholder="Nickel in ppm" [(ngModel)]="nickel">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onAddNickel(); sendNickelMeasurement(nickel)">Submit</button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>

