<div class="body">
  <div class="content-section">
    <h2 class="content-section-title">Major Elements</h2>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">

      <!-- ==========  Iron ============-->

      <mat-card class="apps-card center-card">
        <div class="app-card g-col-3">
          <span fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="chemImg">
                <img src="../../../assets/CaCl.png" alt="">
              </div>
              Iron
            </div>
            <button mat-icon-button (click)="selectedElement = 'Iron'" >
              <mat-icon>more_vert</mat-icon>
            </button>
          </span>
          <mat-card-subtitle>{{ ironStart }}</mat-card-subtitle>
          <div class="app-card-buttons input-group">
            <mat-form-field appearance="fill">
              <mat-label>Iron in ppm</mat-label>
              <input matInput [(ngModel)]="iron" placeholder="Iron in ppm" aria-label="Iron in ppm" type="text">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onAddIron()">Submit</button>
          </div>
        </div>
      </mat-card>

      <!-- ========== Lithium  ============-->

      <mat-card class="apps-card">
        <div class="app-card g-col-3">
          <span fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="chemImg">
                <img src="../../../assets/MgCl.png" alt="">
              </div>
              Lithium
            </div>
            <button mat-icon-button (click)="selectedElement = 'Lithium'" >
              <mat-icon>more_vert</mat-icon>
            </button>
          </span>
          <mat-card-subtitle>{{ lithiumStart }}</mat-card-subtitle>
          <div class="app-card-buttons input-group">
            <mat-form-field appearance="fill">
              <mat-label>Lithium in ppm</mat-label>
              <input matInput [(ngModel)]="lithium" placeholder="Lithium in ppm" aria-label="Lithium in ppm" type="text">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onAddLithium()">Submit</button>
          </div>
        </div>
      </mat-card>

      <!-- ========== Manganese ============-->

      <mat-card class="app-card">
        <span>
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="" />
          </div>
          Manganese

          <div
            (click)="selectedElement = 'manganese'"
            mat-icon-button

          ></div>
        </span>
        <div class="menu"></div>
        <mat-card-subtitle>{{ manganeseStart }}</mat-card-subtitle>

        <div class="app-card-buttons input-group">
          <mat-form-field class="form-control">
            <input
              matInput
              placeholder="Manganese in ppm"
              [(ngModel)]="manganese"
            />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onAddManganese()">
            Submit
          </button>
        </div>
      </mat-card>

      <!-- ========== Molybdenum ============-->

      <mat-card class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/sodium bicarb.png" alt="" />
          </div>

          Molybdenum

          <div
            (click)="selectedElement = 'Molybdenum'"
            mat-icon-button

          >
            <mat-icon>more_vert</mat-icon>
          </div>
        </span>

        <mat-card-subtitle>{{ molybdenumStart }}</mat-card-subtitle>

        <div class="app-card-buttons input-group">
          <mat-form-field class="form-control">
            <input
              matInput
              placeholder="Molybdenum in ppm"
              [(ngModel)]="molybdenum"
            />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onAddMolybdenum()">
            Submit
          </button>
        </div>
      </mat-card>

      <mat-card class="app-card" fxFlex="25">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <div class="chemImg">
              <img src="../../../assets/CaCl.png" alt="" />
            </div>
            Nickle
          </div>

          <button mat-icon-button (click)="selectedElement = 'Nickle'">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

        <mat-card-subtitle>{{ nickelStart }}</mat-card-subtitle>

        <mat-form-field class="app-card-buttons">
          <input matInput placeholder="Nickle in ppm" [(ngModel)]="nickel" />
          <button mat-raised-button color="primary" (click)="onAddNickel()">
            Submit
          </button>
        </mat-form-field>
      </mat-card>

    </div>
  </div>
</div>
